# NOTEBOOK TAKING GENERATIONS MADE BY FAIRSEQ AND COUNTING METRICS

### I. PREPARING PREDICTIONS

In [101]:
import re
import pandas as pd

In [ ]:
MODEL_NAME = "lstm"
# MODEL_NAME = "transformer_tiny"

In [102]:
GENERATIONS_FILE_PATH = "./../predictions/outs_" + MODEL_NAME +"/generate-test.txt"
NEW_PREDICTIONS_FILE_PATH = "./../model_scripts/outs_" + MODEL_NAME + "/predictions.txt"

In [103]:
ids = []
texts = []

In [104]:
ind = 0
pattern = r"([STHDP])-([0-9]*)\t-[0-9\.]*\t(.*)$"
with open(GENERATIONS_FILE_PATH, "r",encoding="utf-8") as file:
    while True:
        ind += 1
        x = file.readline()
        if not x:
            print("CLOSE AT LINE " + str(ind))
            break
        finds = re.findall(pattern,x)
        if len(finds) == 0:
            continue
        letter, id, text = finds[0]
        if letter=='H':
            ids.append(int(id))
            texts.append(text)
        
# print(x)

CLOSE AT LINE 704022

In [105]:
df= pd.DataFrame({"ind": ids, "text": texts})

In [106]:
df.head()

      ind                       text
0   88772      Isn't that beautiful?
1  118182        He was in the army.
2  118164         It's not that way.
3  105412  It's not the information.
4  103481           We just started.

In [107]:
df.sort_values("ind",ascending=True,inplace=True)

In [108]:
df.head()

        ind                                               text
139898    0  Steven Bilsten’s world says there is a strong ...
18667     1                     The ocean can be very complex.
46348     2  It could be the health of human health. It's v...
128689    3  And so it may seem to be an important meeting ...
102455    4  And these are the mainstream ideas that are no...

In [109]:
df.shape

(140804, 2)

In [110]:
df['text'].to_csv(NEW_PREDICTIONS_FILE_PATH,header=None,index=None)

### II. SACREBLEU

In [111]:
!sacrebleu ../data/processed/test.en -i ../predictions/outs_$MODEL_NAME/predictions.txt -m bleu -w 4

{
 "name": "BLEU",
 "score": 19.1803,
 "signature": "nrefs:1|case:mixed|eff:no|tok:13a|smooth:exp|version:2.0.0",
 "verbose_score": "50.2/24.6/13.8/8.0 (BP = 1.000 ratio = 1.013 hyp_len = 2869219 ref_len = 2831143)",
 "nrefs": "1",
 "case": "mixed",
 "eff": "no",
 "tok": "13a",
 "smooth": "exp",
 "version": "2.0.0"
}

### III. CHRF

In [112]:
!sacrebleu ../data/processed/test.en -i ../predictions/outs_$MODEL_NAME/predictions.txt -m chrf -w 4

{
 "name": "chrF2",
 "score": 42.5705,
 "signature": "nrefs:1|case:mixed|eff:yes|nc:6|nw:0|space:no|version:2.0.0",
 "nrefs": "1",
 "case": "mixed",
 "eff": "yes",
 "nc": "6",
 "nw": "0",
 "space": "no",
 "version": "2.0.0"
}

### IV. COMET
+ Warning: you probably have to create new enviroment and
```
$ pip install unbabel-comet
```

In [114]:
!comet-score -r ../data/processed/test.en -t ../predictions/outs_$MODEL_NAME/predictions.txt -s ../data/processed/test.ar

/home/luki/anaconda3/envs/nlp/lib/python3.9/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: libtorch_cuda_cu.so: cannot open shared object file: No such file or directory
  warn(f"Failed to load image Python extension: {e}")