In [85]:
import re
import pandas as pd

In [86]:
outs_file_path = "./../model_scripts/outs/generate-test.txt"
# outs_file_path = "./../model_scripts/outs/test.txt"

In [87]:
ids = []
texts = []

In [88]:
ind = 0
pattern = r"([STHDP])-([0-9]*)\t-[0-9\.]*\t(.*)$"
with open(outs_file_path, "r",encoding="utf-8") as file:
    while True:
        ind += 1
        x = file.readline()
        if not x:
            print("CLOSE AT LINE " + str(ind))
            break
        finds = re.findall(pattern,x)
        if len(finds) == 0:
            continue
        letter, id, text = finds[0]
        if letter=='H':
            ids.append(int(id))
            texts.append(text)
        
# print(x)

CLOSE AT LINE 704022

In [89]:
df= pd.DataFrame({"ind": ids, "text": texts})

In [90]:
df.head()
# df

           ind                                               text
0        88772                              Isn't that beautiful?
1       118182                                He was in the army.
2       118164                                 It's not that way.
3       105412                          It's not the information.
4       103481                                   We just started.
...        ...                                                ...
140799    5319  In the 1970s, a generous spirit of the Interne...
140800   72950  [ [ ] [ ] [ ] [ “The “Mazar Journalist” [ “On ...
140801   72952  [ ] [ ] [ ] [ ] [ “I’m Jesus Christ’s Jesus Ch...
140802    6001  “The next 249 – I see that “carry” is coming –...
140803  119697  Until Canada’s internal minister – at the time...

[140804 rows x 2 columns]

In [91]:
df.sort_values("ind",ascending=True,inplace=True)

In [92]:
df.head()

        ind                                               text
139898    0  Steven Bilsten’s world says there is a strong ...
18667     1                     The ocean can be very complex.
46348     2  It could be the health of human health. It's v...
128689    3  And so it may seem to be an important meeting ...
102455    4  And these are the mainstream ideas that are no...

In [94]:
df.shape

(140804, 2)

In [96]:
df['text'].to_csv("../model_scripts/outs/predictions.txt",header=None,index=None)